* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
    width: 100%;
}


.background {
    background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;
    text-align: center;
    margin: auto;
    height:40em;
    width:100%;   
   
}

.background h1 {
    font-size: 40px;
    margin: 0 auto;
    align-items: center;
    color: white;
    
}

.favo{
    clear: both;
    margin: 2.5% auto 0;
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.favo p{
    color: white;
    margin: 5% 0 0;
    font-size: 14px;
}


/* ///////NavBar/////// */
.flex-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    margin-right: 10%;

}
.flex-container li a{
    text-decoration: none;
    color: white;

}
header a{
    text-decoration: none;
    color: white;
}
.flex-container li{

    list-style-type: none;
}

.col-1{
 width: 25%;
 float: left;
}

.centered-button{
    background: rgb(243, 97, 57);
    width: 10%;
    margin: 5% auto;
    border-radius: 1em;
    border-radius: 1em;
    text-align: center;
    padding: 0.75% 0;
    font-size: 1em;
    color: white;
    
}

.Orange{
    background: rgb(243, 97, 57);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 18.75em; 
}
.orangetext{
    margin: auto 0 0;
}
.Orange a {
    background: white;
    width: 10%;
    margin: auto auto;
    border-radius: 1em;
    border-radius: 1em;
    text-align: center;
    padding: 0.75% 0;
    font-size: 1em;
    color: black;
    text-decoration: none;
}
.flex-1{
    display: block;
    align-self: flex-start;
    width: 100%;
    text-align: center;
    height: auto;
    margin-top: 7.5%;
}
#hr1{
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2.5px;
    border-color:orange;
    width: 2.5%;
    margin: 2.5% auto;
}
#hr2{
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2.5px;
    border-color:white;
    width: 2.5%;
    margin: auto;
}
#service-1{
    font-size: 1.5em;
    margin-bottom: 2%;
}

.service{
    display: flex;
    align-items: center;
    height: 18.75em;
}

#office{
    display: flex;
    flex-wrap: wrap;
    
}
#office a img{
    width: 100%;
    height: 100%;
}
.flex-2{
    width: 33.3%;
}

.icons {
text-align: center;
width: 65%
}

.grey {
    background-color: #343a40;
    text-align: center;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer p {
    margin: auto 0;
}
footer {
    display: block;
    width: 100%;
    text-align: center;
    height: 2.5em;
    background: grey;
}
.white{
    background: white;
    display: flex;
    text-align: center;
    /* justify-content: space-around; */
    height: 18.75em; 
    flex-direction: column;
}
.white div{
    margin: auto;
}
.grey a {
    background: white;
    width: 10%;
    margin: 0 auto auto;
    border-radius: 1em;
    border-radius: 1em;
    text-align: center;
    padding: 0.75% 0;
    font-size: 1em;
    color: black;
    text-decoration: none;

}
.grey h2{
    margin: auto 0 2%;
    color: white;
}
.white h2{
 margin: 5% 0 0;
}

#hr3{
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2.5px;
    border-color:orange;
    width: 2.5%;
    margin: 2% auto 3%;
}

.contacts {
    display: inline;
}

.centered-button a{
    text-decoration: none;
    color: white;
}